body{
    background-color: rgb(107, 161, 243);
    font: normal, 15pt, Arial;
}
header{
    color: aliceblue;
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
#flista{
    width: 150px;
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}